fastapi==0.115.6
uvicorn[standard]==0.34.0
langchain==0.3.14
langchain-community==0.3.14
langchain-anthropic==0.3.3
langchain-openai==0.3.1
langchain-huggingface==0.1.2
sentence-transformers==3.3.1
faiss-cpu==1.9.0.post1
python-dotenv==1.0.1
pydantic==2.10.5
